extends layout

block content
	div#toggle
		h1(class='unselectable'). CTA BusTracker & Way Finder
	div#nav
		nav
			ul
				li(class='unselectable'). Click to enlarge
				li(class='unselectable'). Lorem ipsum dolor sit amet
				li(class='unselectable'). Lorem ipsum dolor
	div#map-canvas
	//<script data-main="scripts/main" src="scripts/require.js"></script>
	script(src='javascripts/require.js' data-main='javascripts/main')

	
	//script(src='javascripts/jquery-2.1.0.min.js')
	//script(src='javascripts/bootstrap.min.js')
	//script(src='javascripts/main.js')
	//script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCAD-IeK_FoKEM_5mmYq0DZf_p3dytgobA&sensor=true')
	//script(src='javascripts/attractions.js')
	//script(src='javascripts/controller.js')
	//script(src='javascripts/model.js')
	//script(src='javascripts/user.js')
	//script. google.maps.event.addDomListener(window, 'load', initialize);
	


  
