extends layout

block content
	div#toggle
		h1(class='unselectable'). CTA BusTracker & Way Finder
	div#nav
		nav
			ul
				li(class='unselectable'). Click to enlarge
				li(class='unselectable'). Lorem ipsum dolor sit amet
				li(class='unselectable'). Lorem ipsum dolor
	div#map-canvas

	script(src='javascripts/require.js' data-main='javascripts/main')